# Merging CSVs

In [1]:
import pandas as pd
import numpy as np

Import CSVs

In [3]:
positive_df = pd.read_csv('amazon_positive_reviews.csv')
critical_df = pd.read_csv('amazon_critical_reviews.csv')

one_star_df = pd.read_csv('amazon_reviews_1star.csv')
two_star_df = pd.read_csv('amazon_reviews_2star.csv')
three_star_df = pd.read_csv('amazon_reviews_3star.csv')
four_star_df = pd.read_csv('amazon_reviews_4star.csv')
five_star_df = pd.read_csv('amazon_reviews_5star.csv')

image_df = pd.read_excel('amazon_image_reviews.xlsx')

In [4]:
# print(positive_df.head())
# print(critical_df.head())
# print(one_star_df.head())
# print(two_star_df.head())
# print(three_star_df.head())
# print(four_star_df.head())
# print(five_star_df.head())
# print(image_df.head())

Merging CSVs

In [5]:
all_reviews_df = one_star_df.append([two_star_df, three_star_df, four_star_df, five_star_df, positive_df, critical_df, image_df], sort=False)

Check no. of rows and columns

In [6]:
all_reviews_df.shape

(17568, 12)

View column names

In [7]:
all_reviews_df.columns

Index(['web-scraper-order', 'web-scraper-start-url', 'author', 'title', 'date',
       'content', 'rating', 'next', 'next-href', 'helpful', 'image-src',
       'image_2-src'],
      dtype='object')

Check how many null values per column

In [8]:
all_reviews_df.isnull().sum(axis = 0)

web-scraper-order            0
web-scraper-start-url        0
author                       9
title                        5
date                         5
content                      9
rating                       5
next                       145
next-href                  140
helpful                  14439
image-src                17498
image_2-src              17568
dtype: int64

Drop redundant columns and rename web-scraper-order to ID

In [9]:
all_reviews_df.drop(columns=['web-scraper-start-url', 'next', 'next-href', 'image_2-src'], inplace=True)
all_reviews_df.rename({'web-scraper-order': 'ID'}, axis='columns', inplace=True)

Check null values per column

In [10]:
all_reviews_df.isnull().sum(axis=0)

ID               0
author           9
title            5
date             5
content          9
rating           5
helpful      14439
image-src    17498
dtype: int64

Check no. of unique values vs total count to find duplicates

In [11]:
all_reviews_df.describe()

,ID,author,title,date,content,rating,helpful,image-src
count,17568,17559,17563,17563,17559,17563,3129,70
unique,17568,8290,7138,961,10175,5,88,70
top,1584086775-4551,Amazon Customer,Five Stars,"Reviewed in the United States on September 29,...",Great book,5.0 out of 5 stars,One person found this helpful,https://images-na.ssl-images-amazon.com/images...
freq,1,1813,1205,726,30,4520,1342,1

Drop duplicate reviews based on content column starting from the last row of the table/dataframe

In [12]:
all_reviews_df = all_reviews_df.drop_duplicates(subset='content', keep="last")
all_reviews_df.describe()

,ID,author,title,date,content,rating,helpful,image-src
count,10176,10174,10176,10176,10175,10176,2739,68
unique,10176,8076,7106,944,10175,5,87,68
top,1584086609-3811,Amazon Customer,Five Stars,"Reviewed in the United States on September 29,...",Not bad..,5.0 out of 5 stars,One person found this helpful,https://images-na.ssl-images-amazon.com/images...
freq,1,1062,933,418,1,3338,1160,1

Check no. of rows and cols in new dataframe/table

In [14]:
all_reviews_df.shape

(10176, 8)

Save to CSV

In [13]:
all_reviews_df.to_csv('all_amazon_reviews.csv')